*~
*.d
*.o
*.lo
*.a
*.so
*.so.*
*.out
*.pyc
*.kate-swp
*.directory
core

build
data_gen
bin
lib
msg_gen
srv_gen

_leftover
ay_3dvision
ay_3dvision_msgs
ay_cpp
ay_py
ay_sim
ay_sim_msgs
ay_trick
ay_util
ay_util_msgs
ay_vision
ay_vision_msgs
